body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
}

.menu {
  width: 100%;
  list-style-type: none;
  top: 0;
  position: fixed
}

li a {
  display: block;
  color: white;
  float: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:link {
  text-decoration: none;
  color: white
}

li a:visited {
  text-decoration: none;
}

li a:hover {
  color: white
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 50px;
  width: 100%;
}

li:first-child:hover {
  color: white
}

li:first-child {
  display: block;
  color: #ffc25a;
  float: left;
  padding-left: 20%;
}

.pinkstuff {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
  display: block;
  font-family: Muli, Helvetica, Arial, sans-serif;
  background-image: url("/Imagines/bg-pattern.png"), linear-gradient(to right, #da2431, #7a4397)
}

.pinkstuff .container {
  height: 600px
}

.newAge {
  display: block;
  position: relative;
  width: calc(25% - 30px);
  color: white;
  position: relative;
  float: left;
  padding: 15px;
  top: 180px;
  left: 330px;
}

.newAge img {
  width: 45%;
  height: auto;
}

.start {
  display: block;
  top: 400px
}

#btn1 {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .0);
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  border: 1px solid;
  border-color: white;
  border-radius: 300px;
  padding: 5px 20px;
  letter-spacing: 2px;
  margin-top: 10px;
}

#btn1:hover {
  background-color: #ffc25a
}

.GoogleApple {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  background-color: #fcc949;
}

.discover {
  display: block;
  position: relative;
  left: 420px;
  text-align: center;
  font-family: Muli, Helvetica, Ariel, sans-serif;
  width: 35%
}

.discover h1 {
  font-size: 45px;
}

.logo {
  width: 100%;
  display: block;
  text-align: center
}

a img:first-child {
  width: 11.5%;
  height: auto
}

.white {
  padding-top: 5px;
  padding-bottom: 10px;
  background: rgb(252, 252, 252);
  display: block;
  max-width: 1170px;
  min-height: 600px;
  text-align: center;
  font-family: Muli, Helvetica, Ariel, sans-serif;
}

#whitepic {
  height: 80%;
  width: 80%;
}

.font {
  font-size: 40px;
}

.phone {
  display: block;
  float: left;
  padding: 15px;
  width: calc(33.33% - 30px);
}

.box1 {
  display: block;
  float: left;
  padding: 15px;
  width: calc(33.33% - 30px);
}

.box2 {
  display: block;
  float: left;
  padding: 15px;
  width: calc(33.33% - 30px);
}

.doboz {
  margin: 30px 150px 30px 150px;
}

.phoneing {
  font-family: Muli, Helvetica, Arial, sans-serif;
  background-image: url("/Imagines/bg-cta.jpg");
  background-position: center;
  background-size: cover;
  padding: 240px 0;
}

.phoneing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

section {
  position: relative;
}

.container {
  position: relative;
  max-width: 1170px;
  overflow: auto;
  margin: 0 auto;
}

.phoneing h2 {
  font-size: 90px;
  color: white;
  font-weight: 200;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.25;
  text-align: left;
}

.phoneing button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .0);
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  border: 1px solid;
  border-color: white;
  border-radius: 300px;
  padding: 15px 40px;
  letter-spacing: 2px;
  margin-top: 30px;
}

.phoneing button:hover {
  background-color: #fdcc52;
  border-color: #fdcc52;
}

.footer {
  min-height: 80px;
  font-family: Muli, Helvetica, Arial, sans-serif;
  font-size: 35%;
  color: #515151;
  text-align: center;
  line-height: 200%;
  background-color: #222222;
}

.footera:link {
  color: #515151;
  text-decoration: none;
}

.footera:hover {
  color: #fdcc52;
}

footer>div {
  align-items: center;
  padding-top: 1%;
}

i.fas.fa-heart {
  color: rgb(221, 76, 57);
}

.Social {
  background-color: rgb(253, 202, 75);
  padding: 80px;
}

.Social h1 {
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 25px;
}

.socialIcons a {
  font-size: 40px;
  line-height: 80px;
  height: 80px;
  color: #fff;
  border-radius: 100%;
  width: 80px;
  box-sizing: border-box;
  margin: 5px;
  display: inline;
  float: left;
  text-align: center;
}

.socialIcons .Twitter a {
  background-color: rgba(29, 161, 243);
  opacity: 0.9;
}

.socialIcons .Twitter a:hover {
  opacity: 1;
}

.socialIcons .facebook a {
  background-color: rgb(59, 89, 153);
  opacity: 0.9;
}

.socialIcons .facebook a:hover {
  opacity: 1;
}

.socialIcons .googleP a {
  background-color: rgb(221, 76, 57);
  opacity: 0.9;
}

.socialIcons .googleP a:hover {
  opacity: 1;
}

.socialIcons {
  display: table;
  margin: 0 auto;
}

.socialIcons div {
  display: inline;
}