.button {
  padding: 2%;
  border-radius: 300px;
  border-color: #fdcc52;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  position: sticky
}

.pinkstuff {
  display: block;
  max-width: 1170px;
  text-align: center;
  font-family: Muli, Helvetica, Ariel, sans-serif;
  background-image: url("/Imagines/bg-pattern.png"), linear-gradient(to right, #da2431, #7a4397)
}

.phoneing {
  font-family: Muli, Helvetica, Arial, sans-serif;
  background-image: url("/Imagines/bg-cta.jpg");
  background-position: center;
  background-size: cover;
  padding: 240px 0;
}

.phoneing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

section {
  position: relative;
}

.container {
  position: relative;
  max-width: 1170px;
  overflow: auto;
  margin: 0 auto;
}

.phoneing h2 {
  font-size: 90px;
  color: white;
  font-weight: 200;
  margin: 0px;
  box-sizing: border-box;
  line-height: 1.25;
  text-align: left;
}

.phoneing button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .0);
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  border: 1px solid;
  border-color: white;
  border-radius: 300px;
  padding: 15px 40px;
  letter-spacing: 2px;
  margin-top: 30px;
}

.phoneing button:hover {
  background-color: #fdcc52;
  border-color: #fdcc52;
}

i.fas.fa-heart {
  color: rgb(221, 76, 57);
}

.Social {
  background-color: rgb(253, 202, 75);
  padding: 80px;
}

.Social h1 {
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 25px;
}

.socialIcons a {
  font-size: 40px;
  line-height: 80px;
  height: 80px;
  color: #fff;
  border-radius: 100%;
  width: 80px;
  box-sizing: border-box;
  margin: 5px;
  display: inline;
  float: left;
  text-align: center;
}

.socialIcons .Twitter a {
  background-color: rgba(29, 161, 243);
  opacity: 0.9;
}

.socialIcons .Twitter a:hover {
  opacity: 1;
}

.socialIcons .facebook a {
  background-color: rgb(59, 89, 153);
  opacity: 0.9;
}

.socialIcons .facebook a:hover {
  opacity: 1;
}

.socialIcons .googleP a {
  background-color: rgb(221, 76, 57);
  opacity: 0.9;
}

.socialIcons .googleP a:hover {
  opacity: 1;
}

.socialIcons {
  display: table;
  margin: 0 auto;
}

.socialIcons div {
  display: inline;
}